= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum }

.col-md-10.col-md-offset-1
  %h2
    = t("forem.post.new")
  - if @reply_to_post
    = render 'reply_to_post', :post => @reply_to_post
  - else
    %h2
      %em
        = @topic.subject

  = simple_form_for [forem, @topic.forum, @topic, @post] do |f|
    = render :partial => "form", :locals => { :f => f }
    = f.submit t("forem.post.buttons.reply"), :class => "btn btn-primary"
